:root{
    --green-nice: #48cfad;
}
*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto Flex', sans-serif;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--green-nice);
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons a{
    color: white;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Roboto Flex', sans-serif;
}
nav .profile-link a:hover{
    color: var(--green-nice);
    border-bottom: 1px solid var(--green-nice);
    font-weight: bold;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("../assets/img/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 240px;
    margin-top: 16px;
}
.home-main-text{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: var(--green-nice);
    text-align: center;
    letter-spacing: 2px;
}
.home-main-button{
    width: 90px;
    height: 30px;
    background-color: var(--green-nice);
    border: 1px solid white;
    border-radius: 8px;
    display: grid;
    align-items: center;
}
.home-main-button a{
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.home-main-button:hover{
   background-color: white;
   border: 1px solid var(--green-nice);
}
.home-main-button a:hover{
    color: var(--green-nice);
}