:root{
    --green-nice: #48cfad;
    --gray-light: #e6e9ed;
}
body{
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--green-nice);
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons a{
    color: white;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Roboto Flex', sans-serif;
}
nav .profile-link a:hover{
    color: var(--green-nice);
    border-bottom: 1px solid var(--green-nice);
    font-weight: bold;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("../assets/img/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 240px;
    margin-top: 16px;
}
.home-main-text{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: var(--green-nice);
    text-align: center;
    letter-spacing: 2px;
}
.home-main-button{
    width: 90px;
    height: 30px;
    background-color: var(--green-nice);
    border: 1px solid white;
    border-radius: 8px;
    display: grid;
    align-items: center;
}
.home-main-button a{
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.home-main-button:hover{
   background-color: white;
   border: 1px solid var(--green-nice);
}
.home-main-button a:hover{
    color: var(--green-nice);
}

.blogs-main{
    display: grid;
}
/* .blogs-news-container{
    background-color: var(--gray-light);
    padding: 0 50px 40px;
} */
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    background-color: var(--gray-light);
    padding: 0 50px 40px;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 85%;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;
}
.blogs-posts-container{
    padding: 0 50px 40px;
}
.blogs-posts-container h3{
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button{
    /* border: 1px solid var(--green-nice); */
    padding: 10px 15px;
    font-size: 12px;
    color: white;
    background-color: var(--green-nice);
    border-radius: 2px;
}
.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.title-post{
    font-weight: bold;
    color: #22272d;
}
.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}

.blogs-posts-container .post-container img{
    width: 100%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid var(--green-nice);
    text-align: center;
}
footer p{
    color: white;
    margin-top: 30px;
}